<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1500">
    <title>Entertainment</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/png" href="../static/logo.png"/>
</head>
<body>
    <div id='header' style="text-align: center;">
        <img src="../static/logo.png" alt="logo" height="120px">
    </div>

    <div class='topnav'>
        <a class="active" href="index.html">Home</a>
        <a href="sports.html">Sports</a>
        <a href="entertainment.html">Entertainment</a>
        <a href="finance.html">Finance</a>
        <a href="international.html">Internationl</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact Us</a>
        <a href="ncrb.html">NCRB Report</a>
       	<a href="tech.html">Tech</a>
       	<a href="info.html">Project Information</a>
</div>

    <div id='content'>
        <div id="headline">
            <h1 class="highlight">Movie Mashup</h1>
            <div class="card-container">
                <div class="card" style="float: left; margin-left: 20px;">
                    <h1>
                        Akshay Kumar dons blue skin for OMG 2, calls it an ‘honest attempt to reflect on an important social issue’
                    </h1>
                    <img class="card-img" src="../static/entertainment/omg2.png" alt="">
                    <p>
                        Akshay Kumar has started shooting for OMG 2, the sequel of his 2012 film OMG – Oh My God! Pankaj Tripathi, Yami Gautam are set to star in the film alongside Akshay. The original featured Paresh Rawal, Mithun Chakraborty, Mahesh Majrekar in pivotal roles.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Vin Diesel walks Paul Walker’s daughter down the aisle as she gets married, fans say ‘Paul would’ve been happy’
                    </h1>
                    <img class="card-img" src="../static/entertainment/diesel.png" alt="">
                    <p>
                        The daughter of late actor Paul Walker, Meadow Walker, married her fiancé Louis Thornton-Allan in an intimate ceremony. Meadow shared photos and videos from the ceremony on Instagram which showed that her late father’s best friend Vin Diesel walked her down the aisle. Diesel is also Meadow’s godfather.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Veteran actor and Mehmood’s sister Minoo Mumtaz passes away
                    </h1>
                    <img class="card-img" src="../static/entertainment/mumtazz.png" alt="">
                    <p>
                        Mehmood’s younger brother, producer Anwar Ali said in a statement, “Regret to inform that my loving sister Minoo Mumtaz has passed away in Canada. Deep gratitude to the film fraternity, press, media, fans, friends, for decades of love and adulation showered upon her.” Minoo was musician Lucky Ali’s aunt
                    </p>
                </div>
            </div>
        </div>
        <div id="news" style=" margin-top: 100px;">
            <div class="card-container">
                <div class="card" style="float: left; margin-left: 20px;">
                    <h1>
                        Prabhas treats his fans with Radhe Shyam teaser, and his Vikramaditya looks intriguing. Watch
                    </h1>
                    <img class="card-img" src="../static/entertainment/prabhas.png" alt="">
                    <p>
                        The teaser begins with Prabhas’s character Vikramaditya proclaiming, “I know you, but I won’t tell you. I can feel your heartbreak, but I won’t tell you. I can see your failures but I won’t tell you. I can sense your death but I won’t tell you. I know everything, still, I won’t tell you because it is beyond your understanding.” As Prabhas walks in his black tuxedo, you can’t miss his charm.
                        <a href="https://indianexpress.com/article/entertainment/telugu/prabhas-treats-his-fans-with-radhe-shyam-teaser-and-his-vikramaditya-looks-intriguing-watch-7586266/" target="blank">Read More</a>
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Ryan Gosling to play Ken opposite Margot Robbie’s Barbie?
                    </h1>
                    <img class="card-img" src="../static/entertainment/margoot.png" alt="">
                    <p>
                        According to Variety, Oscar-nominated filmmaker Greta Gerwig is directing the Warner Bros movie from a script she co-wrote with her filmmaker partner Noah Baumbach.
In addition to starring, Robbie is producing the movie under her LuckyChap Entertainment banner along with Tom Ackerley and Josey McNamara.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Dune, The Last Duel, Bhavai: 7 titles that are our top picks this weekend
                    </h1>
                    <img class="card-img" src="../static/entertainment/dune.png" alt="">
                    <p>
                        If you’re one a sci-fi fan, this is the weekend you probably have been waiting for for quite a while. Denis Villeneuve directed Dune is finally in theatres with its complex world building and dense subject. And even if you’re not a sci-fi fan, this movie based on Frank Herbert’s novel will keep you hooked. And that’s not all when it comes to big releases this week. Ridley Scott-directed Last Duel, which stars Matt Damon, Adam Driver, Jodie Comer and Ben Affleck, is out too.
                        <a href="https://indianexpress.com/article/entertainment/web-series/dune-the-last-duel-bhavai-7-titles-that-are-our-top-picks-this-weekend-7585256/" target="blank">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id='footer' style="float: right;">
        <p>&copy; 2021 NewsHub.com</p>
        <p>sponsered by India Today</p>
        <p>Created by :- Gourav Singh</p>
    </div>
</body>
</html>