<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Newshub | Gourav Singh</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/png" href="../static/index/logo.png"/>
    <meta name="viewport" content="width=1300">
</head>
<body>
    <div id='header' style="text-align: center;">
        <img src="../static/logo.png" alt="logo" height="120px">
    </div>  

    <div class='topnav'>
        <a class="active" href="index.html">Home</a>
        <a href="sports.html">Sports</a>
        <a href="entertainment.html">Entertainment</a>
        <a href="finance.html">Finance</a>
        <a href="international.html">Internationl</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact Us</a>
        <a href="ncrb.html">NCRB Report</a>
       	<a href="tech.html">Tech</a>
        <a href="info.html">Project Information</a>
</div>

    <div id='content'>
        <div id="headline">
            <marquee direction="right" style="font-size: 30px;" class="breaking">
                Breaking News
            </marquee>
            <h1 class="highlight">Headlines</h1>
            <div class="card-container">
                <div class="card" style="float: left; margin-left: 20px;">
                    <h1>
                        Will investigate Amarinder Singh's friend's links with ISI
                    </h1>
                    <img class="card-img" src="../static/index/Screenshot from 2021-10-22 22-43-48.png" alt="">
                    <p>
                        Captain Amarinder Singh is saying that there's a threat from ISI. We'll look into his journalist friend Aroosa Alam's connection with ISI. Captain kept raising drones issue coming from Pakistan for last 4.5 years," Randhawa said.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Salaam Cricket 2021: Difficult to organise Indo-Pak matches in India due to ticket demand, says Sourav Ganguly
                    </h1>
                    <img class="card-img" src="../static/index/match.png" alt="">
                    <p>
                        The Board of Control for Cricket in India (BCCI) president Sourav Ganguly said organising India vs Pakistan matches becomes very difficult in India due to the massive demand for tickets which is why he found it comparatively easier to take the game to the United Arab Emirates to kick-start the T20 World Cup.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Amit Shah’s 3-day visit to J&K begins today | What’s on the agenda
                    </h1>
                    <img class="card-img" src="../static/index/amit.png" alt="">
                    <p>
                        This unified command meet will be attended by Intelligence Bureau chief Arvind Kumar, Director General (DG) of CRPF Kuldiep Singh, DG of National Security Guard MA Ganapathy, DG of Border Security Force Pankaj Singh, DG of J&K Police Dilbagh Singh, Army commanders and other officials. The Inspector General of Jammu Police and Inspector General of Kashmir Police will be present.
                    </p>
                </div>
            </div>
        </div>
        <div id="news" style=" margin-top: 100px;">
            <h1 class="highlight">Recent News</h1>
            <div class="card-container">
                <div class="card" style="float: left; margin-left: 20px;">
                    <h1>
                        Mumbai court rejects Kangana Ranaut’s plea seeking transfer of Javed Akhtar's complaint to different court
                    </h1>
                    <img class="card-img" src="../static/index/kangana.png" alt="">
                    <p>
                        "It is a settled position of law that the proceeding cannot be transferred from one court to another on mere apprehension," said Additional Chief Metropolitan Magistrate ST Dande while hearing Kangana Ranaut's plea.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Prabhas turns 42. Fans celebrate Baahubali star's birthday with photos and videos
                    </h1>
                    <img class="card-img" src="../static/index/prabhas.png" alt="">
                    <p>
                        Prabhas, who is fondly called Rebel Star by his fans, is celebrating his 42nd birthday today, October 23. On this day, social media is filled with wishes from his fans, colleagues and family members. His fans have taken social media by storm by sharing photo and video tributes to him. After Baahubali's success, the actor catapulted to fame and has over five pan-India films in the pipeline.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        'Not a production house': What Sameer Wankhede told Ananya Panday for arriving late at NCB office
                    </h1>
                    <img class="card-img" src="../static/index/drugs.png" alt="">
                    <p>
                        Bollywood actor Ananya Panday was asked to appear before the agency at 11 am on Friday in connection with the NCB’s probe in the Mumbai drugs case in which Shah Rukh Khan’s son Aryan Khan was arrested earlier this month.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id='footer' style="float: right;">
        <p>&copy; 2021 NewsHub.com</p>
        <p>sponsered by India Today</p>
        <p>Created by :- Gourav Singh</p>
    </div>
</body>
</html>