<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Newshub | Gourav Singh</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/png" href="../static/index/logo.png"/>
    <meta name="viewport" content="width=1300">
</head>
<body>
    <div id='header' style="text-align: center;">
        <img src="../static/logo.png" alt="logo" height="120px">
    </div>  

    <div class='topnav'>
        <a class="active" href="index.html">Home</a>
        <a href="sports.html">Sports</a>
        <a href="entertainment.html">Entertainment</a>
        <a href="finance.html">Finance</a>
        <a href="international.html">Internationl</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact Us</a>
        <a href="ncrb.html">NCRB Report</a>
       	<a href="tech.html">Tech</a>
        <a href="info.html">Project Information</a>
</div>

    <div id='content'>
        <h1 style=" text-align: center; color: tomato;">News Hub</h1>
        <h4 style="color:blue;">
            NewsHub 
            <ul>
                <li>Created Using follwing stack</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </h4>
        <h3>Name of Students:- </h3>
        <h2 style="font-family: cursive;">
            <ul>
                <li style="color: blueviolet; ">Gourav Singh Roll number =19/13035</li>
                <li style="color: chartreuse;">Himanshu  Roll number =19/13048</li>
            </ul>
        </h2>
        <h3>Topic Covered Related to HTML in this project</h3>
        <h4>
            <ul>
                <li>LIST</li>
                <li>TABLE</li>
                <li>IMAGES</li>
                <li>LINKS</li>
                <li>MULTIMEDIA</li>
            </ul>
        </h4>
    </div>

    <div id='footer' style="float: right;">
        <p>&copy; 2021 NewsHub.com</p>
        <p>sponsered by India Today</p>
        <p>Created by :- Gourav Singh</p>
    </div>
</body>
</html>