<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1500">
    <title>Internationl</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/png" href="../static/logo.png"/>
</head>
<body>
    <div id='header' style="text-align: center;">
        <img src="../static/logo.png" alt="logo" height="120px">
    </div>

    <div class='topnav'>
        <a class="active" href="index.html">Home</a>
        <a href="sports.html">Sports</a>
        <a href="entertainment.html">Entertainment</a>
        <a href="finance.html">Finance</a>
        <a href="international.html">Internationl</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact Us</a>
        <a href="ncrb.html">NCRB Report</a>
       	<a href="tech.html">Tech</a>
       	<a href="info.html">Project Information</a>
</div>

    <div id='content'>
        <div id="headline">
            <h1 class="highlight">International News</h1>
            <div class="card-container">
                <div class="card" style="float: left; margin-left: 20px;">
                    <h1>
                        Senate committee’s inquiry accusations are ‘fantasies’: Brazil President Jair Bolsonaro
                    </h1>
                    <img class="card-img" src="../static/international/1.png" alt="">
                    <p>
                        Brazil’s President Jair Bolsonaro said on Thursday the charges that a Senate report has recommended he should face are “fantasies” and should be ignored.
The report presented on Wednesday alleged that Mr. Bolsonaro committed crimes against humanity, among other proposed charges, for bungling Brazil’s response to COVID-19 and contributing to the country having the world’s second-highest pandemic death toll.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        COVID-19 | New Zealand sets 90% vaccination target to end lockdowns
                    </h1>
                    <img class="card-img" src="../static/international/2.png" alt="">
                    <p>
                        New Zealand’s government on Friday set an ambitious target of fully vaccinating 90% of all eligible people to end coronavirus lockdowns.
Prime Minister Jacinda Ardern had been under pressure to provide a pathway to freedom for people living in Auckland, who have been in lockdown for more than two months.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Schools reopen across Sri Lanka even as teachers’ strike continues
                    </h1>
                    <img class="card-img" src="../static/international/3.png" alt="">
                    <p>
                        Most faculty and school principals stayed from the classes as the teachers’ unions have voiced dissatisfaction over the talks on wages.
Primary schools across Sri Lanka reopened on Thursday after a gap of over six months, even as the government was negotiating with protesting teachers over their demand for an increment in salary.
                    </p>
                </div>
            </div>
        </div>
        <div id="news" style=" margin-top: 100px;">
            <div class="card-container">
                <div class="card" style="float: left; margin-left: 20px;">
                    <h1>
                        Russia tightens restrictions as infections, deaths soar
                    </h1>
                    <img class="card-img" src="../static/international/4.png" alt="">
                    <p>
                        Authorities in Moscow on Thursday announced plans to shut restaurants, cinemas and non-food stores and introduce other restrictions later this month, as Russia registered the highest daily numbers of new coronavirus infections and deaths since the start of the pandemic.
The government coronavirus task force reported 36,339 new confirmed infections and 1,036 deaths in the past 24 hours. That brought Russia’s death toll to 227,389, by far the highest in Europe.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        China passes law to cut homework pressure on students
                    </h1>
                    <img class="card-img" src="../static/international/5.png" alt="">
                    <p>
                        In recent months, the Chinese education ministry has also limited gaming hours for minors.
                        China has passed an education law that seeks to cut the “twin pressures” of homework and off-site tutoring in core subjects, the official Xinhua news agency said on October 23.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        G7 countries reach breakthrough on digital trade and data
                    </h1>
                    <img class="card-img" src="../static/international/6.png" alt="">
                    <p>
                        The deal sets out a middle ground between highly regulated data protection regimes used in European countries and the more open approach of the United States.
The Group of Seven wealthy nations agreed on a joint set of principles to govern cross-border data use and digital trade, Britain said in what was described as a breakthrough that could liberalise hundreds of billions of pounds of trade.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id='footer' style="float: right;">
        <p>&copy; 2021 NewsHub.com</p>
        <p>sponsered by India Today</p>
        <p>Created by :- Gourav Singh</p>
    </div>
</body>
</html>