<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1500">
    <title>Sports</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/png" href="../static/logo.png"/>
</head>
<body>
    <div id='header' style="text-align: center;">
        <img src="../static/logo.png" alt="logo" height="120px">
    </div>

    <div class='topnav'>
        <a class="active" href="index.html">Home</a>
        <a href="sports.html">Sports</a>
        <a href="entertainment.html">Entertainment</a>
        <a href="finance.html">Finance</a>
        <a href="international.html">Internationl</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact Us</a>
        <a href="ncrb.html">NCRB Report</a>
       	<a href="tech.html">Tech</a>
       	<a href="info.html">Project Information</a>
</div>

    <div id='content'>
        <div id="headline">
            <marquee direction="right" style="font-size: 30px;" class="breaking">
                World Cup Begins 
            </marquee>
            <h1 class="highlight">Sports </h1>
            <div class="card-container">
                <div class="card" style="float: left; margin-left: 20px;">
                    <h1>
                        T20 World Cup: Pace-heavy South Africa, Australia look for spin effect
                    </h1>
                    <img class="card-img" src="../static/sports/australia.png" alt="">
                    <p>
                        Australia vs South Africa: World Cup. It's been a rivalry alright, with Sydney (1992), Headingley and Edgbaston (1999) standing out in the 50-over showpiece.
However, across six previous World Cups in T20s, the two sides have met just once, in Colombo in 2012, with the Aussies running away with a victory. 
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        T20 World Cup: England take on West Indies in clash of the champions
                    </h1>
                    <img class="card-img" src="../static/sports/Screenshot from 2021-10-23 12-33-42.png" alt="">
                    <p>
                        Five years have gone by, and as the two teams square off again in Dubai on the first day of the 2021 event, both Brathwaite and Stokes - who are not part of their teams - will be missed. But a West Indies-England clash always brings a different flavour. While England are the most improved limited-overs team in the last five years with a sense of machine-like precision that won them the 2019 ODI World Cup, West 
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        World number one Ashleigh Barty pulls out of WTA Finals, ends season
                    </h1>
                    <img class="card-img" src="../static/sports/wta.png" alt="">
                    <p>
                        The Australian has not played since a shock third-round loss at the US Open in September and has now formally ended a year that earned her five titles, including a second major at Wimbledon after her French Open triumph in 2019.
"I wanted to let everyone know that I won't be competing in any further tournaments in 2021, including the WTA Finals in Mexico," the 25-year-old said in a statement. 
                    </p>
                </div>
            </div>
        </div>
        <div id="news" style=" margin-top: 100px;">
            <div class="card-container">
                <div class="card" style="float: left; margin-left: 20px;">
                    <h1>
                        Ronaldo is unique but Liverpool's Salah is 'on fire', says Solskjaer
                    </h1>
                    <img class="card-img" src="../static/sports/ronaldo.png" alt="">
                    <p>
                        Salah leads the Premier League goal scoring charts with seven goals and also has four assists in eight games while he also has five strikes in the Champions League.
Liverpool manager Juergen Klopp did not want to compare the two forwards earlier on Friday but Solskjaer praised Salah and also his team mates on the frontline -- Sadio Mane, Roberto Firmino and Diogo Jota. 
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Drew McIntyre gears up for the Orton challenge
                    </h1>
                    <img class="card-img" src="../static/sports/wwe.png" alt="">
                    <p>
                        Sunday night promises to be a memorable night for the WWE fans as current champion Drew McIntyre will be taking on Randy Orton in the grand finale. Ahead of the keenly-awaited clash, Drew spoke to TOI on facing Randy, how he is different from his previous opponent - Brock Lesnar and more. Excerpts:
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Junior Hockey WC: Holders India need to play good friendlies, trying to arrange a few, says Graham Reid
                    </h1>
                    <img class="card-img" src="../static/sports/hockey.png" alt="">
                    <p>
                        BENGALURU: The senior Indian men's hockey team chief coach Graham Reid on Thursday said the junior side should play some practice matches against quality opponents before it starts the defence of its FIH Junior World Cup title in Bhubaneswar next month.
Emphasising on the importance of playing practice games, Reid, who is overseeing India's preparation for the event
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id='footer' style="float: right;">
        <p>&copy; 2021 NewsHub.com</p>
        <p>sponsered by India Today</p>
        <p>Created by :- Gourav Singh</p>
    </div>
</body>
</html>