<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Newshub | Gourav Singh</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/png" href="../static/index/logo.png" />
    <meta name="viewport" content="width=1300">
</head>

<body>
    <div id='header' style="text-align: center;">
        <img src="../static/logo.png" alt="logo" height="120px">
    </div>

    <div class='topnav'>
        <a class="active" href="index.html">Home</a>
        <a href="sports.html">Sports</a>
        <a href="entertainment.html">Entertainment</a>
        <a href="finance.html">Finance</a>
        <a href="international.html">Internationl</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact Us</a>
        <a href="ncrb.html">NCRB Report</a>
        <a href="tech.html">Tech</a>
        <a href="info.html">Project Information</a>
    </div>

    <div id='content'>
        <h1 style="font-style: oblique; text-align: center; color: springgreen;">Recent Techonology Updates</h1>
        <div id='' style=" width:100%; height: 500px;">
            <div class="jump-links-wrap" style="float: left;font-size: larger; margin: 50px;" >
                <h2>Table of Contents</h2>
                <div> <a  href="https://www.simplilearn.com/top-technology-trends-and-jobs-article" target="blank"
                        alt="1. Artificial Intelligence (AI) and Machine Learning"
                        title="1. Artificial Intelligence (AI) and Machine Learning">1. Artificial Intelligence (AI)
                        and Machine Learning</a></div>
                <div> <a  href="https://www.simplilearn.com/top-technology-trends-and-jobs-article" target="blank" alt="2. Robotic Process Automation (RPA)"
                        title="2. Robotic Process Automation (RPA)">2. Robotic Process Automation (RPA)</a></div>
                <div> <a  href="https://www.simplilearn.com/top-technology-trends-and-jobs-article" target="blank" alt="3. Edge Computing" title="3. Edge Computing">3. Edge
                        Computing</a></div>
                <div> <a  href="https://www.simplilearn.com/top-technology-trends-and-jobs-article" target="blank" alt="4. Quantum Computing" title="4. Quantum Computing">4.
                        Quantum Computing</a></div>
                <div> <a  href="https://www.simplilearn.com/top-technology-trends-and-jobs-article" target="blank"
                        alt="5. Virtual Reality and Augmented Reality"
                        title="5. Virtual Reality and Augmented Reality">5. Virtual Reality and Augmented
                        Reality</a></div>
                <div> <a  href="https://www.simplilearn.com/top-technology-trends-and-jobs-article" target="blank" alt="6. Blockchain" title="6. Blockchain">6. Blockchain</a></div>
                <div> <a  href="https://www.simplilearn.com/top-technology-trends-and-jobs-article" target="blank" alt="7. Internet of Things (IoT)"
                        title="7. Internet of Things (IoT)">7. Internet of Things (IoT)</a></div>
                <div> <a  href="https://www.simplilearn.com/top-technology-trends-and-jobs-article" target="blank" alt="8. 5G" title="8. 5G">8. 5G</a></div>
                <div> <a  href="https://www.simplilearn.com/top-technology-trends-and-jobs-article" target="blank" alt="9. Cyber Security" title="9. Cyber Security">9. Cyber
                        Security</a></div>
                <div> <a  href="https://www.simplilearn.com/top-technology-trends-and-jobs-article" target="blank"
                        alt="9 New Technology Trends and 1 Solution to Succeed in Them"
                        title="9 New Technology Trends and 1 Solution to Succeed in Them">9 New Technology Trends
                        and 1 Solution to Succeed in Them</a></div>
            </div>
            <iframe width="600px" height="400px" src="https://www.youtube.com/embed/pWWOEcd7f6k"
                style="float: right; margin: 50px;" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div id="news" style=" margin-top: 100px;">
            <div class="card-container">
                <div class="card" style="float: left; margin-left: 20px;">
                    <h1>
                        Apple MacBook Pro with M1 Max may get a High Power Mode to unleash its full potential
                    </h1>
                    <img class="card-img" src="../static/finance/apple.png" alt="">
                    <p>
                        MacBook Pro with new M1 Max and M1 Pro processors is Apple’s most powerful laptop. But there
                        still may be a way for this MacBook Pro to reach its full potential. A new “High Power Mode” was
                        spotted in the latest beta release of macOS Monterey that starts rolling out next week, and that
                        may be able to “optimise performance to better support resource-intensive tasks”, according to
                        MacRumors
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Xiaomi Mi 10 to get Android 11 Beta soon as Google releases it for Pixel phones
                    </h1>
                    <img class="card-img" src="../static/finance/mi.png" alt="">
                    <p>
                        Android 11 has dropped today and while it is still in beta testing, Pixel phone users can
                        download it right now. However, non Pixel users have to wait for their phone’s manufacturers to
                        release it officially. Oppo already announced its Android 11 release for its flagship Find X2
                        Pro and now, Xiaomi has announced the same for the Mi 10 5G. Yes, Xiaomi will allow users of the
                        Mi 10 to try out Android 11 while it is in beta.
                    </p>
                </div>
                <div class="card" style="float: right; margin-right: 20px;">
                    <h1>
                        Vodafone, Jio, Airtel to increase prices of telecom plans offering free subscription to Amazon
                        Prime
                    </h1>
                    <img class="card-img" src="../static/finance/voda.png" alt="">
                    <p>
                        If you have been planning to get an Amazon Prime Membership, you should get it now because
                        Amazon is set to increase the membership fee. Amazon has announced that the Prime membership
                        will get expensive very soon. Now there is more to what meets the eye. The price hike of Amazon
                        Prime membership will also affect the telecom companies offering a free subscription to Amazon
                        Prime.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id='footer' style="float: right;">
        <p>&copy; 2021 NewsHub.com</p>
        <p>sponsered by India Today</p>
        <p>Created by :- Gourav Singh</p>
    </div>
</body>

</html>